@use "src/main";

h2 {
  text-align: center;
}

.checkboxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  div {

    &:hover {
      font-weight: bolder;
    }

    label {
      display: flex;
      align-items: center;
      min-width: 116px;
      padding: 10px;

      &:hover {
        cursor: pointer;
      }
    }


  }

}
