.checkboxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .box {
    min-width: 120px;
    display: flex;
    justify-content: center;

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:hover {
      cursor: pointer;
      font-weight: bolder;
    }
  }
}
