@use "src/main";

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .turn {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    h2 {
      color: main.$orange;

      @media (max-width: 530px) {
        font-size: 1rem;
      }
    }
  }

  .player-one, .player-two {

    h3 {
      color: main.$dark-blue;

      @media (max-width: 530px) {
        font-size: 1rem;
      }
    }
  }
}
