<div *ngIf="service.finishedGame" class="content">

  <h2 *ngIf="service.playerOneWon" class="winner">Spieler 1 hat gewonnen!</h2>

  <div *ngIf="service.playMode === 'pvp'" class="winner">
    <h2 *ngIf="service.playerTwoWon">Spieler 2 hat gewonnen!</h2>
  </div>

  <div *ngIf="service.playMode === 'pvc'" class="winner">
    <h2 *ngIf="service.playerTwoWon">Computer hat gewonnen!</h2>
  </div>

  <app-button [routerLink]="'/settings'">Neues Spiel?</app-button>
  <app-button [routerLink]="'/home'">Zur Startseite</app-button>
</div>
