@use "src/main";

.card-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 5px solid main.$light-blue;
  background-color: #fff8f8;
  border-radius: 4px;
}

.card-items {
  box-sizing: border-box;
  perspective: 1000px;

  .card {
    position: relative;
    top: 0;
    left: 0;
    margin: 2px;
    transform-origin: center;
    width: 80px;
    height: 80px;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    @media (max-width: 1000px) {
      width: 60px;
      height: 60px;
    }

    &.visible {
      transform: rotateY(180deg);
    }


    .picture, .hidden-cards {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 6px;
      height: 100%;
      width: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      box-shadow: 1px 1px 2px main.$deep-blue;
    }

    .picture {
      background-size: cover;
      background-position: center;
      transform: rotateY(180deg);
    }

    .hidden-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: main.$light-blue;
      color: black;

      p {
        transform: rotate(45deg);
        color: ghostwhite;
        -ms-user-select: None;
        -moz-user-select: None;
        -webkit-user-select: None;
        user-select: None;

        @media (max-width: 1000px) {
          font-size: 0.8rem;
        }
      }
    }
  }
}



