<app-header></app-header>

<app-pvp-header  *ngIf="service.playMode === 'pvp'"></app-pvp-header>

<app-pvc-header *ngIf="service.playMode === 'pvc'"></app-pvc-header>


<div *ngIf="service.startedGame && !service.finishedGame" class="card-container">

  <div class="card-items" *ngFor="let card of service.fieldCards">
    <div (click)="service.showCard(card)" [class.visible]="card.visible" class="card">
      <div class="hidden-cards">
        <p>Memory</p>
      </div>
      <div class="picture" [style.background-image]="'url(' + card.pic + ')'"></div>

    </div>
  </div>

</div>

<app-finished-game></app-finished-game>

